In [1]:
# Import the libraries: 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
# Import the data: 

household_df = pd.read_csv("Median_Household_Income_2015.csv",  encoding='windows-1252')
high_school_df = pd.read_csv("Pct_Over_25_Completed_High_School.csv", encoding ='windows-1252')
poverty_levels_df = pd.read_csv("Pct_People_Below_Poverty_Level.csv", encoding = 'windows-1252')
race_by_city_df = pd.read_csv("Share_of_Race_By_City.csv", encoding="windows-1252")
df_fatalities = pd.read_csv("Deaths_by_Police_US.csv", encoding ="windows-1252")
df_fatalities.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [8]:
high_school_df.head()

  Geographic Area             City percent_completed_hs
0              AL       Abanda CDP                 21.2
1              AL   Abbeville city                 69.1
2              AL  Adamsville city                 78.9
3              AL     Addison town                 81.4
4              AL       Akron town                 68.6

In [9]:
poverty_levels_df.head()

  Geographic Area             City poverty_rate
0              AL       Abanda CDP         78.8
1              AL   Abbeville city         29.1
2              AL  Adamsville city         25.5
3              AL     Addison town         30.7
4              AL       Akron town           42

In [10]:
race_by_city_df.head()

,Geographic area,City,share_white,share_black,share_native_american,share_asian,share_hispanic
0,AL,Abanda CDP,67.2,30.2,0,0,1.6
1,AL,Abbeville city,54.4,41.4,0.1,1,3.1
2,AL,Adamsville city,52.3,44.9,0.5,0.3,2.3
3,AL,Addison town,99.1,0.1,0,0.1,0.4
4,AL,Akron town,13.2,86.5,0,0,0.3

# Data Exploration:

In [16]:
# Approach 1 - clean the data
# Approach 2 - Join the datasets: 
# Approach 3 - Check for the patterns/relationships 
#1. household_df 

# check for null values 

#
high_school_df.isna().sum()

Geographic Area         0
City                    0
percent_completed_hs    0
dtype: int64

In [17]:
poverty_levels_df.isna().sum()

Geographic Area    0
City               0
poverty_rate       0
dtype: int64

In [18]:
race_by_city_df.isna().sum()

Geographic area          0
City                     0
share_white              0
share_black              0
share_native_american    0
share_asian              0
share_hispanic           0
dtype: int64

In [20]:
# Contains missing values: 
household_df.isna().sum()

Geographic Area     0
City                0
Median Income      51
dtype: int64

In [25]:
df_fatalities.isna().sum()
#df_fatalities.shape

id                           0
name                         0
date                         0
manner_of_death              0
armed                        9
age                         77
gender                       0
race                       195
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                        65
body_camera                  0
dtype: int64

In [ ]:
# Two datasets contain the missing values.